
.main-title {
  width: 100%;
  top: 0;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  padding: 15px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px; 
  border-radius: 0px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}

body {
  background-image: url("Design/index.webp");
  background-size: cover;
  background-position: center;  
  background-repeat: no-repeat;  
  background-attachment: fixed;

  min-height: 100vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
}


nav {
  display: flex;
  width: 100%;
}

nav button {
  flex: 1;                 
  padding: 15px 0;       
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
}

nav button:hover {
  background: radial-gradient(circle, rgba(0,0,0,0) -30%, rgba(0,0,0,0.5) 100%);
  text-shadow: 1px 1px 3px rgba(0,0,0,1);
 }

.main-text {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 15px;
  padding-top: 0px;
  margin: 50px auto; 
  margin-top: 150px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  text-align: center;
}

.AboutMe {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 15px; 
  padding-top: 0px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 50px auto;
  margin-top: 50px;
  text-align: center;
}

.GetHelp button {
  background-color: rgba(0, 0, 0, 0.5);
  color: red; 
  width: 100%;
  margin-top: 150px;
}

 footer {
  width: 100%;
  color: white;
  background: #000000;
  margin: 0px;
  border-radius: 0px;
  text-align: center;
}
